/* General */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
    color: #333;
}

/* Header */
header {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 24px;
}

/* Formulario */
form {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}

form input, form select, form textarea, form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

form button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

/* Tablas */
table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table th, table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

table th {
    background-color: #007BFF;
    color: white;
    font-size: 16px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Botones de acción */
.action-buttons a {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 5px;
    border-radius: 4px;
    text-decoration: none;
    color: white;
}

.action-buttons .edit {
    background-color: #28a745;
}

.action-buttons .edit:hover {
    background-color: #218838;
}

.action-buttons .delete {
    background-color: #dc3545;
}

.action-buttons .delete:hover {
    background-color: #c82333;
}

/* Iconos con Font Awesome */
i {
    margin-right: 5px;
}

.popup {
        font-family: Arial, sans-serif;
        font-size: 25px;
    }

    .popup label,
    .popup input,
    .popup textarea,
    .popup button {
        font-family: Arial, sans-serif;
        font-size: 25px;
    }
